.LoungeTable {
  // padding: 16px;
  height: 347px;
  width: 390px;
  text-align: center;
  // background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &__Overview {
    height: 100%;
    position: relative;

    &--Image {
      width: 100%;
      height: 259px;
      img {
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }

    &--Info {
    }

    &--Hostname {
      color: #0060a9;
      background: rgba(255, 255, 255, 0.85);
      position: absolute;
      left: 0;
      top: 0;
      padding: 8px 16px 8px 24px;
      border-radius: 0 10px 10px 0;
      transform: translateY(20px);
      z-index: 20;
    }
  }

  &--available {
    &__true {
      background-color: red;
    }
    &__false {
    }
  }
}
