.LoungeTable {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  // padding: 16px;
  height: 300px;
  width: 420px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;

  &__Overview {
    height: 100%;

    &--Image {
      width: 40%;
      height: 100%;
      img {
        object-fit: cover;
        border-radius: 10px 0 0 10px;
      }
    }

    &--Info {
      width: 60%;
    }
  }

  &--available {
    &__true {
      background-color: red;
    }
    &__false {
    }
  }
}
