.Cart__order-box {
  margin-right: 15px;
  top: -5px;
  right: 0;
  width: 17px;
  padding: 0px 5px;
  margin-top: 5px;
  border-radius: 86px;
  background: #71ce71;
  color: white;
  height: 17px;
}
